h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Jost', sans-serif;
}

body,
html {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #111318 url(../img/bg.png) top center repeat;
	color: #fff;
	overflow-x: hidden;
	position: relative;
}

body.noscroll {
	overflow: hidden;
	padding-right: 17px;
}

::-moz-selection {
	background: #fff;
	color: #1d1d1d;
	text-shadow: none;
}

::selection {
	background: #fff;
	color: #1d1d1d;
	text-shadow: none;
}

a {
	display: inline-block;
	transition: .25s;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-ms-transition: .25s;
	-o-transition: .25s;
}

a:hover,
a:active {
	text-decoration: none;
	outline: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.default-btn {
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	background-color: #3deaa4;
	color: #000;
	position: relative;
	z-index: 1;
	border: 0;
	outline: 0;
	cursor: pointer;
	overflow: hidden;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.default-btn:hover {
	color: #fff;
	outline: 0;
}
.default-btn:focus {
	outline: 0;
}

.default-btn::before,
.default-btn::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background: #000;
	opacity: .6;
	left: 0;
	top: 40px;
	z-index: -2;
	transition: all .3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform .3s cubic-bezier(0.9, 0, 0.2, 1);
	-webkit-transition: all .3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform .3s cubic-bezier(0.9, 0, 0.2, 1);
	-moz-transition: all .3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform .3s cubic-bezier(0.9, 0, 0.2, 1);
	-ms-transition: all .3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform .3s cubic-bezier(0.9, 0, 0.2, 1);
	-o-transition: all .3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform .3s cubic-bezier(0.9, 0, 0.2, 1);
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}

.default-btn::before {
	background: #000;
	opacity: 1;
	top: 50px;
	z-index: -1;
}

.default-btn:hover::before,
.default-btn:hover::after {
	top: 0;
	border-radius: 0;
}

.default-btn:hover::before {
	transition-delay: .2s;
}

.default-btn i {
	font-size: 15px;
	position: relative;
	top: 1px;
	margin-right: 3px;
}

.wrapper {
	padding: 80px 0;
	border-top: 1px solid #323641;
}

.wrapper-heading {
	display: inline-block;
	font-size: 23px;
	margin-bottom: 70px;
	color: #3deaa4;
	line-height: 1;
	position: relative;
}

.wrapper-heading::after {
	position: absolute;
	content: url(../img/zigzag.svg);
	top: 35px;
	left: 0;
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
}

p {
	line-height: 1.8;
	color: #ccc;
}

/* -- start preloader style */

#preloader {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	z-index: 99999999;
	display: flex
}

#preloader::before,
#preloader::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 50%;
	background: #111;
	top: 0;
	left: 0;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s
}

#preloader::after {
	top: auto;
	bottom: 0
}

.loaded #preloader::before,
.loaded #preloader::after {
	height: 0%
}

.scroll-static {
	position: relative;
	width: 50%;
	height: 1px;
	overflow: hidden;
	margin: auto;
	transition: all .8s;
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	-ms-transition: all .8s;
	-o-transition: all .8s;
	z-index: 555
}

.scroll-static::before {
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	left: 50%;
	background: #3deaa4;
	animation: showLine 300ms ease-in-out 0s forwards;
	-o-animation: showLine 300ms ease-in-out 0s forwards;
	-webkit-animation: showLine 300ms ease-in-out 0s forwards;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%)
}

@keyframes showLine {
	0% {
		width: 0;
		opacity: 0
	}
	100% {
		width: 100%;
		opacity: 1
	}
}

@-o-keyframes showLine {
	0% {
		width: 0;
		opacity: 0
	}
	100% {
		width: 100%;
		opacity: 1
	}
}

@-webkit-keyframes showLine {
	0% {
		width: 0;
		opacity: 0
	}
	100% {
		width: 100%;
		opacity: 1
	}
}

.scroll-static::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: -100px;
	top: 0;
	animation: scroll-static 2s cubic-bezier(.86, 0, .07, 1) infinite;
	-o-animation: scroll-static 2s cubic-bezier(.86, 0, .07, 1) infinite;
	-webkit-animation: scroll-static 2s cubic-bezier(.86, 0, .07, 1) infinite;
	animation-delay: 1200ms
}

@keyframes scroll-static {
	0% {
		left: -100%;
		background: #11141a;
	}
	100% {
		left: 100%;
		background: #11141a;
	}
}

@-o-keyframes scroll-static {
	0% {
		left: -100%;
		background: #11141a;
	}
	100% {
		left: 100%;
		background: #11141a;
	}
}

@-webkit-keyframes scroll-static {
	0% {
		left: -100%;
		background: #11141a;
	}
	100% {
		left: 100%;
		background: #11141a;
	}
}

.scroll-static.loaded {
	width: 100%;
	opacity: 0
}

.scroll-static.loaded::after {
	opacity: 0
}

.work-loader {
	color: #fff;
	font-size: 8px;
	margin: auto;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	text-indent: -9999em;
	-webkit-animation: load4 1.3s infinite linear;
	animation: load4 1.3s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0)
}

@-webkit-keyframes load4 {
	0%,
	100% {
		box-shadow: 0 -3em 0 .2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0
	}
	12.5% {
		box-shadow: 0 -3em 0 0, 2em -2em 0 .2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
	}
	25% {
		box-shadow: 0 -3em 0 -.5em, 2em -2em 0 0, 3em 0 0 .2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
	}
	37.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 .2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em
	}
	50% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 .2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em
	}
	62.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 .2em, -3em 0 0 0, -2em -2em 0 -1em
	}
	75% {
		box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 .2em, -2em -2em 0 0
	}
	87.5% {
		box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 .2em
	}
}

@keyframes load4 {
	0%,
	100% {
		box-shadow: 0 -3em 0 .2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0
	}
	12.5% {
		box-shadow: 0 -3em 0 0, 2em -2em 0 .2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
	}
	25% {
		box-shadow: 0 -3em 0 -.5em, 2em -2em 0 0, 3em 0 0 .2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
	}
	37.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 .2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em
	}
	50% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 .2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em
	}
	62.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 .2em, -3em 0 0 0, -2em -2em 0 -1em
	}
	75% {
		box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 .2em, -2em -2em 0 0
	}
	87.5% {
		box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 .2em
	}
}

/* end preloader style */

/* start main-wrapper */

.main-wrapper {
	padding-bottom: 100px;
}

.main-content .container-fluid {
	padding-left: 40px;
	padding-right: 40px;
}

.main-content {
	width: calc(100% - 270px);
	max-width: 100%;
	float: right;
	padding-top:70px;
	position: relative;
	transition: all .3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform .3s cubic-bezier(0.9, 0, 0.2, 1);
	-webkit-transition: all .3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform .3s cubic-bezier(0.9, 0, 0.2, 1);
	-moz-transition: all .3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform .3s cubic-bezier(0.9, 0, 0.2, 1);
	-ms-transition: all .3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform .3s cubic-bezier(0.9, 0, 0.2, 1);
	-o-transition: all .3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform .3s cubic-bezier(0.9, 0, 0.2, 1);
}

/* start nav-menu */

.nav-bar {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 270px;
	background: #000;
	z-index: 10;
	padding: 0 20px;
	overflow-y: auto;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
}

.scroll-indicator {
	position: absolute;
	height: 0%;
	width: 2px;
	background-color: #3deaa4;
	top: 0;
	right: 0;
}

.nav-footer {
	position: absolute;
	left: 40px;
	bottom: 30px;
}

.nav-footer .nav-copyright {
	line-height: 1.6;
	color: #ccc;
	font-size: 15px;
}

.nav-bar nav {
	position: relative;
	padding: 0px;
	top: 50%;
	transform: translateY(-50%);
}

nav ul li {
	margin-bottom: 5px;
}

nav ul li a {
	cursor: pointer;
	text-transform: capitalize;
	color: #fff;
	position: relative;
	font-size: 1.4rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 20px;
	padding: 10px 20px !important;
	margin: 10px 0;
	display: block;
	box-shadow: 4px 4px 8px rgba(66, 66, 66, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.25);
	font-family: 'Jost', sans-serif;
}

nav ul li a:hover {
	color: #fff;
}

nav ul li a.active,
nav ul li a.active:hover {
	color: #000;
	box-shadow: none;
}

nav ul li a.active {
	pointer-events: none;
	cursor: default;
	background: #3deaa4;
}

nav ul li a sup {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
	color: #eb3223;
	left: 0.2rem;
	top: -.5em;
}

/* start header style */

header {
	padding: 0 0;
	position: absolute;
	top: 0;
	z-index: 11;
	width: 100%;
}
header > div > div {
	padding:10px 0;
}
header .notification {
	background: #3deaa4;
}
header h4 {
	color: #000;
	font-size: 18px;
}

/*header.fixed {*/
header{
	position: fixed;
	top: -70px;
	margin-top: 70px;
	transition: margin 0.3s ease 0s, transform 0.3s ease 0s;
	-webkit-transition: margin 0.3s ease 0s, transform 0.3s ease 0s;
	-moz-transition: margin 0.3s ease 0s, transform 0.3s ease 0s;
	-ms-transition: margin 0.3s ease 0s, transform 0.3s ease 0s;
	-o-transition: margin 0.3s ease 0s, transform 0.3s ease 0s;
}
.cd-wallet-trigger {
	display:none;
}

@media (min-width: 767.98px) { 
	header{
		max-width: calc(100% - 270px);
	}
	.disconnected .cd-wallet-trigger {
		display:block;
	}
} 
body.noscroll header.fixed {
	max-width: calc(100% - 287px);
}

.logo img {
	height: 40px;
}

.logo a {
	font-size: 20px;
	text-transform: capitalize;
	color: #fff;
	line-height: 40px;
}

.logo a:hover {
	opacity: .7;
}

.default-btn.header-action-btn {
	float: right;
}

.menu-btn {
	position: absolute;
	height: 40px;
	width: 40px;
	line-height: 40px;
	background: #3deaa4;
	color: #000;
	right: 15px;
	cursor: pointer;
	padding: 0;
	text-align: center;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	display: none;
}

.default-btn.menu-btn.close-menu i.ti-menu {
	display: none;
}

.menu-btn:hover {
	color: #fff;
}

.default-btn.menu-btn i {
	font-size: 17px;
	top: 2px;
	margin-left: 3px;
}

/* start home wrapper */

.home-wrapper {
	border-bottom: 1px solid #22252d;
	border-top:0 !important;
}

.hero-content {
	padding-left: 30px;
}

.about-wrapper .hero-img {
	position: relative;
	padding: 20px;
	width: 440px;
	height: 540px;
	display: inline-block;
	overflow: hidden;
}

.about-wrapper .hero-img::before,
.about-wrapper .hero-img::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 50%;
	background-color: #3deaa4;
	right: 0;
	top: -20px;
	z-index: -2;
}

.about-wrapper .hero-img::before {
	top: auto;
	bottom: -20px;
	right: auto;
	left: 0;
}

.about-wrapper .hero-img video {
	outline: 0 !important;
	width: 400px;
	height: 500px;
}


.about-wrapper .hero-img .shape {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	-webkit-transform: rotateZ(0deg) scale(1.5);
	-moz-transform: rotateZ(0deg) scale(1.5);
	-ms-transform: rotateZ(0deg)scale(1.5);
	-o-transform: rotateZ(0deg) scale(1.5);
	transform: rotateZ(0deg) scale(1.5);
}

.about-wrapper .hero-img .shape>div {

	height: 100%;
	width: 100%;
	background: url(../img/bananas.svg) center center no-repeat;
	background-size: contain;
}

.hero-content h1 {
	font-size: 7vw;
}

.hero-content p {
	font-size: 1rem;
	line-height: 2rem;
	margin-bottom: 30px;
}

/* start about wrapper */

.about-sub-heading {
	font-size: 18px;
	margin-top: -6px;
	line-height: 1.7;
}

.about-text {
	margin-top: 20px;
	margin-bottom: 30px;
	font-weight: 300;
}

.social-links span {
	display: inline-block;
	margin-right: 35px;
	color: #ccc;
	position: relative;
}

.social-links span::after {
	position: absolute;
	content: "";
	height: 1px;
	width: 15px;
	background-color: #3deaa4;
	right: -27px;
	top: 13px;
}

.social-links ul,
.social-links li {
	display: inline-block;
}

.social-links li a {
	color: #fff;
	display: block;
	height: 30px;
	width: 30px;
	line-height: 32px;
	text-align: center;
	position: relative;
}

.social-links li a::after {
	position: absolute;
	content: attr(data-text);
	left: 50%;
	line-height: 30px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.social-links li a:hover::after {
	opacity: 0;
	visibility: hidden;
	transform: translateX(-50%) scale(2);
	-webkit-transform: translateX(-50%) scale(2);
	-moz-transform: translateX(-50%) scale(2);
	-ms-transform: translateX(-50%) scale(2);
	-o-transform: translateX(-50%) scale(2);
}

.social-links li a i {
	display: inline-block;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	position: relative;
	top: 2px;
}

.social-links li a:hover i {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}

.about-wrapper .social-links {
	margin-top: 25px;
}

/* start box wrapper */

.box-single {
	margin-bottom: 30px;
	padding: 2rem;
    min-height: 10rem;
	position: relative;
	border: 1px solid #3deaa4;
	background-color: #111318;
	position:relative;
}

.about-inview .box-single,
.box-inview .box-single {
	-webkit-animation: boxanim .3s linear forwards;
	animation: boxanim .3s linear forwards;
}


@-webkit-keyframes boxanim {
	0% {
		filter: blur(4px);
		transform: scale(.96);
	}
	to {
		filter: none;
		transform: none;
	}
}

@keyframes boxanim {
	0% {
		filter: blur(4px);
		transform: scale(.96);
	}
	to {
		filter: none;
		transform: none;
	}
}

.box-single::before,
.box-single::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 8px;
	height: 40px;
	border: 1px solid #3deaa4;
	left: -4px;
	top: 20px;
	background-color: #111318;
	z-index: 9;
}

.box-single::before {
	top: 80px;
}

.box-single h4 {
	margin-bottom: 20px;
}

.box-single ol {
	margin: 0;
	padding: 0;
}

.box-single ol,
.box-single ol li {
	list-style: none;
}

.box-single ol li {
	font-size: 0.95rem;
	line-height: 2rem;
}

.box-single h5 {
	margin-bottom: 10px;
}

.box-single p {
	font-size: 0.8rem;
	opacity: 0.8;
	margin-bottom: 10px;
}

.box-single .default-btn {
	width: 100%;
}

.box-single .blockquote {
	background: #292c35;
	padding: 20px;
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 0.75rem;
	line-height: 1.2rem;
	color: #fff;
}

.presale-wrapper .box-single {
	margin: 0;
}

.presale-wrapper .box-single .arrow-circle {
	display: inline-block;
	padding: 5px;
	color: #3eeaa3;
    font-size: 18px;
}

.presale-wrapper .box-single .arrow-circle img {
	width: 20px;
}

.presale-wrapper .box-single .form-group {
	background: #292c35;
	padding: 10px 15px 10px 15px;
	text-align: left;
	position: relative;
	margin: 0;
}

.presale-wrapper .box-single .form-group label {
	font-size: 0.8rem;
	opacity: 0.7;
	display: block;
	line-height: 1rem;
}

.presale-wrapper .box-single .form-group input {
	border: transparent;
	background: transparent;
	outline: 0;
	box-shadow: none;
	color: #fff;
	padding: 40px 15px 10px 15px;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.presale-wrapper .box-single .form-group span {
	text-align: right;
	font-size: 0.75rem;
	color: #fff;
	display: block;
	line-height: 1.7rem;
}

.presale-wrapper .box-single .form-group span img {
	width: 16px;
}

.presale-wrapper .box-single .form-group input:hover,
.presale-wrapper .box-single .form-group input:focus {
	outline: 0;
}

/* start clients wrapper */

.nfts-carousel .nft-img {
	border: 1px solid #3eeaa3;
	overflow: hidden;
	position: relative;
	cursor: default;
	padding: 30px 30px 10px 30px;
	background: #11141a;
}

.nfts-carousel .nft-img>div {
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.nfts-carousel .nft-img>div img {
	display: block;
	margin: 0 0 10px 0;
}

.nfts-carousel .nft-img:hover div {
	transform: scale(.5);
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	-ms-transform: scale(.5);
	-o-transform: scale(.5);
	opacity: 0;
	visibility: hidden;
}

.nfts-carousel .nft-img::after {
	position: absolute;
	content: attr(data-text);
	top: 50%;
	left: 50%;
	font-size: 15px;
	text-transform: capitalize;
	opacity: 0;
	visibility: hidden;
	transform: translate(-50%, -50%) scale(2);
	-webkit-transform: translate(-50%, -50%) scale(2);
	-moz-transform: translate(-50%, -50%) scale(2);
	-ms-transform: translate(-50%, -50%) scale(2);
	-o-transform: translate(-50%, -50%) scale(2);
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.nfts-carousel .nft-img:hover::after {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%) scale(1);
	-webkit-transform: translate(-50%, -50%) scale(1);
	-moz-transform: translate(-50%, -50%) scale(1);
	-ms-transform: translate(-50%, -50%) scale(1);
	-o-transform: translate(-50%, -50%) scale(1);
}

.nft-inview .nft-img {
	-webkit-animation: heroOpacity .4s linear;
	animation: heroOpacity .4s linear;
}

.scroll-to-top {
	position: fixed;
	right: 40px;
	bottom: 0;
	padding: 0;
	width: 40px;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.scroll-to-top.show {
	opacity: 1;
	visibility: visible;
	bottom: 40px;
}

.footer-social a {
	color: #aaa;
	display: inline-block;
	padding: 0 8px;
	margin-bottom: 4px;
}

.footer-copyright {
	margin-top: 10px;
	font-size: 15px;
	color: #fff;
}

.footer-copyright a {
	color: #aaa;
}

.footer-social a:hover,
.footer-copyright a:hover {
	color: #3deaa4;
}

/* end main-wrapper */

.hero-title {
	color: #3deaa4;
	display: flex;
	justify-content: center;
	font-weight: 800;
	transform: skewY(-8deg);
	font-size: 9vw;
	text-shadow: 10px 10px #4d966e;
	margin: 30px 0 100px 0;
}

.hero-title span {
	margin: 0px -5px;
	opacity: 0;
}

.hero-inview .hero-title span {
	-webkit-animation: hero .3s cubic-bezier(.2, .15, 0, 1.5) forwards;
	animation: hero .3s cubic-bezier(.2, .15, 0, 1.5) forwards;
}

.hero-title span::nth-child(1) {
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}

.hero-title span:nth-child(2) {
	-webkit-animation-delay: .42s;
	animation-delay: .42s;
}

.hero-title span:nth-child(3) {
	-webkit-animation-delay: .54s;
	animation-delay: .54s;
}

.hero-title span:nth-child(4) {
	-webkit-animation-delay: .66s;
	animation-delay: .66s;
}

.hero-title span:nth-child(5) {
	-webkit-animation-delay: .78s;
	animation-delay: .78s;
}

.hero-title span:nth-child(6) {
	-webkit-animation-delay: .90s;
	animation-delay: .90s;
}

.hero-title span:nth-child(7) {
	-webkit-animation-delay: 1.02s;
	animation-delay: 1.02s;
}

.hero-title span:nth-child(8) {
	-webkit-animation-delay: 1.14s;
	animation-delay: 1.14s;
}

.hero-title span:nth-child(9) {
	-webkit-animation-delay: 1.26s;
	animation-delay: 1.26s;
}

.hero-title span:nth-child(10) {
	-webkit-animation-delay: 1.38s;
	animation-delay: 1.38s;
}

.hero-title span:nth-child(11) {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.hero-title span:nth-child(12) {
	-webkit-animation-delay: 1.62s;
	animation-delay: 1.62s;
}

.hero-title span:nth-child(13) {
	-webkit-animation-delay: 1.74s;
	animation-delay: 1.74s;
}

.hero-title span:nth-child(14) {
	-webkit-animation-delay: 1.86s;
	animation-delay: 1.86s;
}

@-webkit-keyframes hero {
	0% {
		opacity: 0;
		transform: translate(0px, -100px) scale(.96)
	}
	to {
		opacity: 1;
		transform: none
	}
}

@keyframes hero {
	0% {
		opacity: 0;
		transform: translate(0px, -100px) scale(.96)
	}
	to {
		opacity: 1;
		transform: none
	}
}

@-webkit-keyframes heroOpacity {
	0% {
		opacity: 0;
		transform: scale(2);
	}
	to {
		opacity: 1;
		transform: none
	}
}

@keyframes heroOpacity {
	0% {
		opacity: 0;
		transform: scale(2);
	}
	to {
		opacity: 1;
		transform: none
	}
}


.hero .poweredby {
	float: right;
	position: relative;
	margin: -100px 0 0 0;
	text-align: right;
}

.hero .poweredby h3 span {
	font-size: 60px;
	position: absolute;
	top: -5px;
	left: -60px;
}

.hero .img-fluid {
	max-width: 75%;
}

.hero p {
	font-size: 1.2rem;
	margin-bottom: 20px;
}

.hero .poweredby p {
	font-size: 0.9rem;
}


.presale-wrapper {
	background: #000 url(../img/bg.svg) center center no-repeat;
	background-size: contain;
	padding: 12vh 0;
}


.presale-wrapper .img-presale {
	width: 10vw;
	height: auto;
}



.nft-hero .hero-title {
	margin: 30px 0;
}

.nft-hero .owl-carousel {
	margin: 50px 0;
}

.nft-hero h2 {
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	color: #3fe9a2;
	text-shadow: 0 0 30px #3fe9a2;
}

.footer-wrapper {
	background: #000;
}

.footer-wrapper img {
	width: 300px;
}


.img-web3wallet {
	width: 120px;
	margin: 0 auto 20px auto;
	-webkit-animation-name: bop;
	animation-name: bop;
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
	-webkit-animation-timing-function: bounce;
	animation-timing-function: bounce;
	-webkit-animation-delay: .1s;
	animation-delay: .1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-play-state: running;




}


@-webkit-keyframes bop {
	0% {
		transform: translate( -5px, -5px)
	}
	50% {
		transform: translate( 5px, 5px)
	}
	to {
		transform: translate( -5px, -5px)
	}
}

@keyframes bop {
	0% {
		transform: translate( -5px, -5px);
	}
	50% {
		transform: translate( 5px, 5px)
	}
	to {
		transform: translate( -5px, -5px)
	}
}

#web3wallet {
	margin: -10px 0 0 0;
}

#web3wallet h5 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2rem;
	margin: 0;
}
#web3wallet h5 small {
	font-size: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #3eeaa3;
}

.presale-wrapper .box-single .overlayPresale  {
	display:block;
}

.presale-wrapper .box-single .overlayPresale time {
	color: #3ce9a2;
}
/*
.presale-wrapper .box-single .overlayPresale {
	position: absolute;
	background: rgb(17 19 24 / 90%);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	display:none;
}
.presale-wrapper .box-single .overlayPresale p {
	color: #fff;
	font-size: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 30px;
	font-family: 'Jost', sans-serif;
	opacity: 1;
}*/


.cd-wallet {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 80px 5%;
    z-index: 13;
    background-color: #3deaa4;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity .3s;
    -moz-transition: visibility 0s, opacity .3s;
    transition: visibility 0s, opacity .3s
}
.cd-wallet.fade-in {
    visibility: visible;
    opacity: 1
}

.cd-wallet-trigger {
	top: 80px;
	right: 30px;
	position: fixed; 
    z-index: 11;
}

.cd-wallet-trigger button {
    border-radius: 40px;
    background-color: #fff;
    transform: scale(1.1);
}

.is-hidden {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-overlay-wallet {
	position: fixed;
	top: 80px;
    right: 90px;
	height: 4px;
	width: 4px;
    z-index: 12;
	transform: translate(-20px, 20px);
}
.cd-overlay-content span {
    background-color: #111318;
}
.cd-overlay-wallet span,
.cd-overlay-content span {
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	will-change: transform;
	transform: scale(0);
}
.cd-overlay-wallet span {
    background-color: #3deaa4;
}
.cd-overlay-content {
    z-index: 14;
	position: fixed;
	top: 55px;
	right: 55px;
	height: 4px;
	width: 4px;
}
.cd-overlay-content.Metamask {
	top: 50%;
	right: 50%;
	transform:translateX(-15vw);
}
.cd-overlay-content.walletConnect {
	top: 50%;
	right: 50%;
	transform:translateX(15vw);
}
.cd-wallet-close {
	top: 30px;
	right: 30px;
	position: fixed; 
    z-index: 15;
    width: 50px;
    height: 50px;
    border-radius:50%;
    background: #111318 url(../img/close.svg) center center no-repeat;
    background-size:100% 100%;
    cursor:pointer;
	transition: all .3s;
    visibility: hidden;
    opacity: 0;
}
.cd-wallet-close.fade-in {
    visibility: visible;
    opacity: 1
}
.cd-wallet-close:hover {
	transform:scale(1.15);
	box-shadow:0 0 50px rgba(0,0,0,0.5);
}

.wallet-connect {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	text-align:center;
    white-space: nowrap;
}

.wallet-connect>div {
	height: 30vh;
	width: 30vw;
	display:inline-block;
	transition: all .3s;
	border-radius:50px;
	padding:2vh 5vw;
	cursor:pointer;
	color:#000;
}
.wallet-connect>div:hover {
	transform:scale(1.15);
	box-shadow:0 0 50px rgba(0,0,0,0.5);
	background:#111318;
	color:#fff;
}
.wallet-connect>div img {
	height:50%;
	margin:10% auto 5% auto;
}
.wallet-connect>div p {
	font-size:20px;
	color: inherit;
}
.wallet-connect>div small {
	font-size:13px;
	opacity:0.5;
	color: inherit;
}
.errplace {
    position:fixed;
    top:170px;
    right:30px;
    width:270px;
    z-index: 13;
}
.error-alert {
    background:#ddd;
    margin:0 0 10px 0;
	font-size:1rem;
	padding:10px;
	color:#000;
}
.error-alert.ebg-error {
    background:#e74c3c;
}
.error-alert.ebg-success {
    background:#3deaa4;
}

.cd-account {
	top: 100px;
    right: 30px;
    position: fixed;
    z-index: 11;
    border-radius: 20px;
    background:#41444e;
    border:1px solid #41444e;
    color:#fff;
    display:none;
}

.connected .cd-account {
	display:block;
}
.cd-account .addr-balance,
.cd-account .addr {
	display:inline-block;
    padding: 8px 20px;
}
.cd-account .addr{
	background:#11141a;
    border-radius: 20px;
	position:relative;
	cursor:pointer;
	min-width: 140px;
    text-align: center;
}
.cd-account .addr:hover:before {
	content:"disconnect";
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	color:#fff;
	background:#11141a;
    border-radius: 20px;
    line-height:40px;
    text-align:center;
    z-index: 2;
}
#presaleError {
    background: #e74c3c;
    padding: 10px 15px 10px 15px;
    text-align: center;
    position: relative;
    font-size: 13px;
    margin: 0;
}


.refaddr {
    opacity: 0.7;
	padding:10px 10px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
    text-align: left;
}

#referal {
    margin: 20px 0 0 0;
	font-size: 0.8rem;
    display: block;
    line-height: 1rem;
    display:none;
}
#referal p {
	margin:0;
	color: #3eeaa3;
}
#referal > div {
	background: #292d35;
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.connected #referal {
	display:block;
}
.refcopy {
    opacity: 0.7;
    cursor:pointer;
    text-align:right;
	
}
.refcopy:hover {
    opacity: 1;
	
}

.default-btn[disabled] {
	background:#000;
	cursor:default;
}

.spinner {
	background:transparent url(../img/spinner2.svg) center center no-repeat;
	background-size:100% auto;
	width:30px;
	height:30px;
	display:inline-block;
    -webkit-animation: fa-spin 1s steps(8) infinite;
    animation: fa-spin 1s steps(8) infinite;
    margin: 4px auto;
}
@keyframes fa-spin{
	0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
	to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}
}

.cd-account .spinner {
	width: 15px;
    height: 15px;
    margin:0;
    opacity:0.5;
}
.addr-bnb {
	border-left:1px solid rgba(255,255,255,0.5);
	padding-left:8px;
	margin-left:5px;
}

.addr-ap3,
.addr-bnb {
	min-width: 60px;
    display: inline-block;
    text-align: center;
}
.presaleBtnisDisconnected {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.3);
    text-align:center;
	z-index:5;
}
.presaleBtnisDisconnected p {
    color: #fff;
    margin: 0;
    font-size: 1.2rem;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.disconnected .presaleBtnisConnected {
    opacity:0.75;
    filter: blur(3px);
}
#metamaskAddToWallet {
	margin:20px 0;
}
#metamaskAddToWallet,
.presaleBtnisDisconnected,
#referal,
#farm,
.whenconnect,
.firstconnectwallet {
	display:none;
}
.disconnected .presaleBtnisDisconnected,
.connected .presaleBtnisConnected,
.connected #referal,
.connected #metamaskAddToWallet,
.connected #farm,
.connected .whenconnect,
.disconnected .firstconnectwallet {
	display:block;
}


.nav-link-farm {
	display:none;
}

.connected .nav-link-farm {
	display: list-item;
}

.farm-wrapper {
    padding: 8rem 2rem;
    background:#000;
}
.pancake-wrapper {
    padding: 8rem 2rem;
	background: #000 url(../img/bgpancake.png) top center repeat;
}

.box-header {
    color: #000;
    background-color: #3deaa4;
    padding: .7rem 1rem .7rem 2rem;
    font-weight: 700;
    position: relative;
    z-index: 1;
    border: solid #3deaa4;
    border-width: 1px 1px 0;
    display: inline-block;
}

.box-header:after {
	position: absolute;
    background-color: #3deaa4;
    transform-origin: bottom left;
    width: 1.5rem;
    border: solid #3deaa4;
    border-width: 1px 1px 0;
    top: -1px;
    bottom: -1px;
    content: "";
    right: -1.5rem;
    transform: skewX( 20deg );
    border-left: none;
    border-top-right-radius: 4px;
}

.farm-wrapper .box-single {
	padding:0;
}

.farm-wrapper .box-single .farm-content {
	padding:2rem;
	min-height: 7rem;
}
.farm-wrapper .box-single .farm-form {
	padding:2rem;
    background: #292c35;
}
.farm-wrapper .box-single .farm-form .inp {
	background:transparent;
	border:1px solid rgba(255,255,255,0.3);
	width:100%;
	display:block;
	transition:all 0.3s;
	color:#fff;
	padding:0.5rem 1rem;
	font-size: 0.8rem;
    line-height: 1rem;
    text-align: right;
    position:relative;
}
.farm-wrapper .box-single .farm-form .inp input {
	display:block;
	position:absolute;
	z-index:2;
	outline:0;
	border:none; 
    width: 100%;
    background: transparent;
    color: #fff;
	padding: 0.5rem 1rem;
    margin: 0;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.farm-wrapper .box-single .farm-form .inp:hover {
	border:1px solid rgba(255,255,255,1);
	outline:0;
}
.farm-wrapper .box-single .farm-form .inp span {
	display:inline-block; 
    font-size: 0.75rem; 
    line-height: 1.7rem;
    color: rgba(255,255,255,0.6);
}
.farm-wrapper .box-single .farm-form .inp img {
	width: 16px;
	display:inline-block;
	margin: 0 3px 0 0;
}
.farm-wrapper .box-single .farm-form .dappbtn {
    opacity: 0.7;
    cursor:pointer;
    text-align:right;
	transition:all 0.3s;
	font-size: 0.8rem;
    line-height: 1rem;
    padding:0;
}
.farm-wrapper .box-single .farm-form .dappbtn:hover {
    opacity: 1;
}

.farm-wrapper .box-single .farm-form .dappbtn span {
	border:1px solid rgba(255,255,255,0);
	transition:all 0.3s;
	display:inline-block;
	padding:0.5rem 1rem;
}
.farm-wrapper .box-single .farm-form .dappbtn:hover span {
	border:1px solid rgba(255,255,255,1);
}
.farm-wrapper .box-single h2 {
    font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.farm-wrapper .box-single h2 small {
	font-size:50%;
    font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #3eeaa3;
}


.disconnected .cd-mobi-wallet-trigger{
    top: 80px;
    right: 10px;
    position: fixed;
    z-index: 11;
	
}




@media (min-width: 767.98px) { 
	.disconnected .cd-mobi-wallet-trigger{
		display:none;
	}
} 